body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif
}

nav ul {
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    margin: 0;
    padding: 0;
    
    }

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
}

nav a:hover {
    background-color: #ffffff;
    color: #4a4a4f;
}

.card {
    float: left;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 5%;
    box-shadow:20px 20px 60px grey;
    border: 5px solid white;
}

.card a {
    text-align: center;
    text-decoration: none
    
}

.card a:link {
    color: black;
    text-decoration: none
}

/* visited link */
.card a:visited {
    color: black;
}

/* mouse over link */
.card a:hover {
    color: #888888;
}

/* selected link */
.card a:active {
    color: blue;
}

img {
    width: auto;
    
}

h1 {
    text-align: center;
}

.card img {
   width: 100%;
   
}



